<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="" style="font-size: 2rem;">ShoppingSite</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column text-center">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-box-seam" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Product</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-basket" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Material</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-gift" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Promotion</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-archive" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Inventory</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-cart-fill" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Order</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-person-badge" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Vendor</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-file-earmark-excel" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Excel</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-task" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Task</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-person-circle" style="font-size: 1rem; display: flex; align-items: center; justify-content: center;" aria-hidden="true"></span>
                <span style="font-size: 1rem;">Employee</span>
            </NavLink>
        </div>
    </nav>
</div>
